.customButton {
  border: none;
  background-color: #f3ba00;
  color: #fff;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.customInput {
  border: none;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.mr-15px {
  margin-right: 15px;
}
.plus_icon {
  font-size: 25px;
  background-color: white;
  color: #f3ba00;
  border-radius: 10px;
}
